.Breadcrumb {
  background-color: #fff;
  padding: 2rem 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  // margin-bottom: 2rem;

  @media (min-width: 1025px) {
    padding: 2rem;
  }

  .group-titles {
    display: flex;
    align-items: center;

    .title {
      text-transform: uppercase;
      font-size: 1.6rem;
      // margin-left: 2.8rem;
      margin-left: 1rem;

      @media (min-width: 1025px) {
        text-transform: uppercase;
        margin-left: 0;
        font-size: 1.7rem;
      }
    }

    .toggle-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 1025px) {
        display: none;
      }
    }
  }

  .menu-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .avatar {
      //   border: 1px solid #eee;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .profile-name {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      cursor: pointer;

      .arrow {
        font-size: 0.9rem;
      }
    }
  }
}
