.DevicePage {
  box-shadow: 0px 5px 10px 0px #00000017;
  background-color: #fff;

  thead th {
    background-color: #0b1c4e !important;
    color: #f1f2f3 !important;
    white-space: nowrap;
    // width: 1%;
  }

  thead th:last-child {
    width: 1%;
  }

  // tbody td {
  //   white-space: nowrap;
  // }

  .square {
    position: relative;
    padding-left: 2rem;
    font-size: 1.13rem;
  }
  .square::before {
    position: absolute;
    top: 0;
    left: 10px;
    content: '';
    display: block;
    float: left;
    height: 1rem;
    width: 1rem;
    background: #389e0d;
    border-radius: 4px;
  }
  .square-online::before {
    background: #389e0d;
  }
  .square-offline::before {
    background: #8c8c8c;
  }

  .ant-checkbox {
    margin-left: 1rem;
  }

  .ant-checkbox-inner {
    border-radius: 2.5px;

    &::after {
      border-radius: 2.5px;
    }
  }

  .ant-checkbox-checked {
    border-radius: 2.5px;

    &::after {
      border-radius: 2.5px;
    }
  }

  .device-options {
    display: flex;
    justify-content: flex-end;

    .icon {
      font-size: 1.5rem;
      margin-right: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .ant-table-pagination.ant-pagination{
    margin: 16px 10px;
  }
}
