@import 'components/mixins.scss';

.item {
  border-bottom: 1px solid $gray-2;
  margin-bottom: 10px;

  &:first-child {
    .itemLink {
      padding-top: 0;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.itemLink {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: inherit;
  // padding-top: rem(30);
  padding-bottom: rem(25);
  &:hover,
  &:focus {
    color: inherit;
  }
}
.warning{
  background-color: #fadb2b8c;
  .title{
    color: #c50808;
  }
}
.alert{
  background-color: #f773754f;
  .title{
    color: #d83437;
  }
}
.offline{
  background-color: #d5d2d2;
  
}
.alertIcon{
  text-align: center;
  margin-top: auto;
}
.title{
  font-weight: bold;
  margin-top: 15px;
}
.itemCover {
  width: rem(73);
  flex-shrink: 0;

  img {
    width: 30px;
    height: auto;
  }
}

// dark theme
[data-kit-theme='dark'] {
  .item {
    border-bottom: 1px solid $dark-gray-4;
  }
}
.i_warning:before {
	content: "\e020";
}
.filled {
  fill: currentColor;
}