.detail-form-wrap {
  display: flex;
  justify-content: center;
}

.detail-form {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1rem !important;
  padding-top: 1.5rem !important;
  margin: 1rem !important;

  @media (min-width: 500px) {
    padding: 2rem !important;
  padding-top: 2.5rem !important;
  margin: 2rem !important;
  }
}
.account-update-page{
  .fullname{
    label{
      margin-right: 50px;
    }
  }
  .address{
    label{
      margin-right: 50px;
    }
  }
  .username{
    label{
      margin-right: 10px;
    }
  }
  .password{
    label{
      margin-right: 30px;
    }
  }
  .role{
    label{
      margin-right: 65px;
    }
  }
  .note{
    label{
      margin-right: 45px;
    }
  }
}