.color-grey {
    background-color: #bfbfbf;
    td {
        background-color: #bfbfbf !important;
    }
}
.break-word {
    max-width: 100px;
    word-break: break-all;
}
.display-grid {
    display: grid!important;
    grid-template-columns: 30% 1fr;
}
.profile-general::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #e4e9f0;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    // .card-top-primary:before, .card-top-secondary:before {
      background-color: var(--vb-color-primary)!important;
    // }
  }