.AccountPage {
  box-shadow: 0px 5px 10px 0px #00000017;
  background-color: #fff;

  thead th {
    background-color: #0B1C4E !important;
    color: #f1f2f3 !important;
    white-space: nowrap;
    // width: 1%;
  }

  thead th:last-child {
    width: 1%;
  }

  // tbody td {
  //   white-space: nowrap;
  // }



  .ant-checkbox {
    margin-left: 1rem;
  }

  .ant-checkbox-inner {
    border-radius: 2.5px;

    &::after {
      border-radius: 2.5px;
    }
  }

  .ant-checkbox-checked {
    border-radius: 2.5px;

    &::after {
      border-radius: 2.5px;
    }
  }
}
